* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
	height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    font-weight: 300;
	height: 100%;
}

#main_home{
    background-color: black;
    color:white;
}

#main_standard{
    background-color: white;
    color:black;
}


#nav{
    background-color:#015e99;
    font-size: large;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: flex-end;
}

#nav a{
    color:white;
}

#nav a:hover{
    color: powderblue;
    transform: scale(1.1);
}

#nav a:active{
    color:indigo;
}


.nav-link.active{
    font-weight: 600;
    color: powderblue;
}

#footer {
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color:#015e99;
    font-size: medium;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
 }

 #address {
    text-align: center;
    font-size: medium;
    font-weight: 400;
 }